.cosmetics-hero {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    height: 60vh;
    border-radius: 16px;

    .text-content {
        max-width: 600px;
        h1 {
            font-size: 2.5rem;
            font-weight: 700;

            .highlight {
                font-weight: 900;
                color: #000;
            }
        }

        p {
            font-size: 1.1rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        .shop-now {
            background-color: $primary-color;
            padding: 0.75rem 1.5rem;
            font-weight: 500;
            font-size: 20px;
            border-radius: 24px;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $soft-green-color;
            }
        }
    }

    .product-display {
        position: absolute;
        bottom: 25px;
        right: 25px;
        background: rgba(255, 255, 255, 0.9);
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 200px;
        transition: box-shadow 0.3s ease;
    
        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }
    
        .product-item {
            text-align: center;
            margin: 0.5rem 0;
            
            a {
                text-decoration: none;
                
            }
    
            h2 {
                font-size: 1rem;
                margin: 0.25rem 0; 
                font-weight: 600;
                color: #333;
                transition: color 0.3s ease;
    
                &:hover {
                    color: $primary-color;
                }
            }
    
            .price {
                font-size: 0.9rem;
                color: #555;
                font-weight: 500;
                margin: 0.25rem 0;
                transition: color 0.3s ease;
    
                &:hover {
                    color: #333;
                }
            }
    
            img {
                max-width: 100%;
                height: auto;
                border-radius: 4px;
                margin-bottom: 0.5rem;
                transition: transform 0.3s ease;
    
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }    
}

.best-sellers-columns{
    .p-best-sellers{
        font-size: 32px;
        font-weight: 700;
    }
    .p-stort-utbud{
        font-size: 20px;
        font-weight: 400;
    }
}







.best-sellers-carousel {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    .swiper-wrapper {
        justify-content: flex-start; 
        padding-left: 120px; //Add a little padding to offset the first slide from the edge
    }
}

/* Slide styling */
.product-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    margin: 15px;
    max-width: 250px;
    min-height: 350px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    }

    a{
        text-decoration: none;
    }
}

.product-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.05);
        }
    }

    
}

.product-info {
    text-align: center;
    padding: 10px 5px;

    .product-title {
        font-size: 0.9rem;
        font-weight: 600;
        color: #333;
        margin: 5px 0;
        line-height: 1.3;
        text-decoration: none !important;
    }

    .product-price {
        font-size: 1rem;
        color: red;
        font-weight: 700;
        margin-top: 4px;
        text-decoration: none;
    }
}


/* Swiper button styling */
.swiper-button-next,
.swiper-button-prev {
    width: 45px !important;
    height: 45px !important;
    padding: 0;
    background-color: $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background-color 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

    &::before {
        font-size: 14px !important;
        color: #fff !important;
        line-height: 1;
    }
    &::after {
        font-size: 14px !important;
        color: #fff !important;
        line-height: 1;
    }

    &:hover {
        background-color: $soft-green-color;
    }
}

.swiper-button-next {
    right: -20px;
}

.swiper-button-prev {
    left: -20px;
}




//SELLING POINTS
.selling-points-columns {
    width: calc(100% - 100px);
    justify-content: center;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url('../images/olive-tree.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    min-height: 250px;
    border-radius: 16px;

    // Glass Effect Overlay
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 90, 63, 0.5);
        backdrop-filter: blur(10px);
        z-index: 1;
    }

    // Content Styling
    .column-eco,
    .column-greek,
    .column-certified {
        display: flex;
        align-items: center;
        margin-right: 40px;
        position: relative;
        z-index: 2;
    }

    .column-eco-img, 
    .column-certified-img, 
    .column-greek-img {
        max-width: 100px;
    }

    .p-eco,
    .p-greek,
    .p-certified {
        font-size: 18px;
        font-weight: 500;
        color: #eaeaea;
        line-height: 1.6;
    }

    blockquote {
        margin: 0;
    }
}

